body,
html {
  margin: 0;
  padding: 0;

  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 370px;
}
h1 {
  font-size: 24px;
  margin: 0 0 10px 0;
  text-align: center;
}
p {
  text-align: center;
  color: #666;
  margin: 0 0 20px 0;
  font-size: 14px;
}
.input-group {
  display: flex;
  margin-bottom: 20px;
}
#guessField {
  flex-grow: 1;
  outline: none;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px 0 0 6px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#sbmt {
  padding: 10px 15px;
  background-color: #222;
  color: white;
  border: none;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}
#sbmt:hover{
  background-color: #444;
}
h3 {
  font-size: 16px;
  margin: 0 0 10px 0;
}
#guesses {
  margin-bottom: 15px;
}
.guess-item {
  background-color: #f9f9f9;
  padding: 8px 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.guess-item:nth-child(even) {
  background-color: #f0f0f0;
}
.remaining-guesses,
.current-turn {
  text-align: center;
  color: #3a3a3a;
  font-weight: 500;
  font-size: 20px;
  margin: 10px 0;
}
.player-human {
  color: #0066cc;
}
.player-computer {
  color: #cc0000;
}
.gameOvermsg{
  font-weight: bold;
  margin-top: 20px;
  text-align: center;

}

.reset-btn{
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #222;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#myBtn{
  display: none;
}